@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    /* cursor: url('/assets/cursors/iconmonstr-bed-5-32.png'), auto; */
    /* transition: 1s; */
    margin: 0;
    padding: 0;
    /* background-color: rgb(237, 240, 240); */
    background-color: rgb(32, 32, 35);
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    /* background-image: url(/assets/header/particles.gif);
    background-size: contain; */
}

h3 span{
    transition: 1s;
    font-size: 1.3em;
}
.main-header{
    display: none;
    /* padding-left: 10%; */
    border: 3px solid rgb(45, 45, 45);
}
.main-header ul{
    list-style: none;
    display: flex;
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: start;
    animation: h 7s alternate infinite;
}
@keyframes h {
  100%{
    transform: translate(-20%, 30%);
  }
}

.greeting{
    display: none;
    /* justify-items: center; */
    text-align: center;
    font-size: 0.8em;
}
.greeting span{
    background-color: rgb(45, 45, 45);
    padding: 1.2% 6% 1.2% 6%;
    border-radius: 15px;
}
footer{
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 30px;
    background-color: rgb(36, 36, 36);
}






  
