.flicker{
    background-image: url('/images/eyes.png');
    background-size: cover;
    background-position-x: center;
    transition: 1s;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute; /* Will use parents position for refference */
    top: 5px;
    left: 5px;
    transition: 0.4s;
    box-shadow: 
        inset 4px 4px 4px rgb(255, 255, 255),
        inset -4px -4px 4px rgb(195 193 198 / 90%);
}
.flicker:hover{
    /* transform: rotate(10turn); */
    transition: 1s;
    background-position-x: 1.5px;
}
.flicker:active{
    transition: 1s;
    background-image: url('/images/eyes.png');
    background-size: cover;
    transform: scale(2);
    top: 5px;
    background-position-x: center;
    
}
.dark .flicker{
    background-color: rgb(235, 233, 233);
    transform: translateX(40px);  
    background-image: url('/images/eyes.png');
    background-size: cover;
}
.dark .flicker:hover{
    transition: 1s;
    background-image: url('/images/eyes.png');
    background-size: cover;
    background-position-x: 1.5px;
}
.dark .flicker:active{
    transform: scale(2);
    top: 5px;
}