/* .animation-section{
    display: flex;
    padding-left: 28.5%;
    padding-bottom: 0.5%;
    width: 70%;
    text-align:justify;
} */
 
  
  /* .dog img{
    padding-top: 170px;
    float: right;
    width: 165px;
    border-radius: 5%;

  } */

  /* Media Query for Mobile Devices */
/* @media (max-width: 768px) {
  .animation-section {
      padding: 0 5%;
  }
} */