.hobbies{
    /* display: flex; */
    padding-left: 34.5%;
    width: 30%;
    text-align:justify;
}
.hobbies h3{
    /* display: inline; */
    /* padding-left: 34.5%; */
    padding-top: 2%;
    padding-bottom: 0px;
    
}
.hobbies h3 span{
    border-bottom: 5px solid rgb(54, 54, 54);
}
