/* 
Credits: 
https://codepen.io/seyedi/
Technique: https://css-irl.info/css-only-slide-up-caption-hover-effect
Design: https://dribbble.com/shots/10951466-Social-Mobile-App
*/

/* Color and curve for arc */
:root {
    --surface-color: rgb(207, 177, 177);
    --curve: 40;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(32, 32, 35);
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
.projects-section{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 2rem;
    padding-left: 10px;
    /* margin: 2rem 5vw; */
    /* justify-content: center; */
    
}
.cards {
    display: contents;
    padding: 0;
    list-style-type: none;
    
}
  
.card {
    position: relative;
    width: 20%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    /* justify-content: center; */

}
  
.card__image {      
    width: 250%;
    background-size: cover;
}
  
.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
    width: 100%;
}
  
.card:hover .card__overlay {
    transition: .5s;
    transform: translateY(0);
}
  
.card__header {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1.0em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}
  

.card:hover .card__header {
    transform: translateY(0);
}

.card__title {
    font-size: 1.1rem;
    margin: 0%;
    color: black;
    text-transform: capitalize;
    white-space: wrap;
    overflow: hidden;
    overflow-wrap: break-word;
    /* text-overflow: ellipsis; */
}
  
.card__description {
    padding: 0 1em 1em;
    margin: 0;
    color: #e64495;
    font-size: 1.0em; 
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: center;
}    


.backbtn a{
    display: block;
    padding: 1%;
    border: 2px solid white;
    text-decoration: none;
    font-size: 1.1em;
}.backbtn a:hover{
    /* display: none; */
    transform: translateY(20%);
}