body {
  background:rgb(32, 32, 35);
  font:normal normal 13px/1.4 Segoe,"Segoe UI",Calibri,Helmet,FreeSans,Sans-Serif;
  padding:50px;
}

.tree-title h1 span{
  color: white;
  font-size: 1.8em;
  font-family: 'Bad Script', cursive;
}
.type-header h3 span{ 
  color: white;
  font-size: 1.0em;
  font-weight: bold;
  font-family: 'Bad Script', cursive; 
}
.tree,
.tree ul {
  /* display: none; */
  margin:0 0 0 1em; /* indentation */
  padding:0;
  list-style:none;
  color:#369;
  position:relative;
}

.tree ul {margin-left:.5em} /* (indentation/2) */

.tree:before,
.tree ul:before {
  content:"";
  display:flex;
  width:10px;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:2px solid;
}
.tree li {
  
  margin:0;
  padding:1.5em 3em; /* indentation + .5em */
  line-height:3em; /* default list item's `line-height` */
  font-weight:bold;
  position:relative;
}

.tree li:before {
  content:"";
  display:block;
  width:40px; /* same with indentation */
  height:0;
  border-top:3px solid;
  margin-top:-2px; /* border top width */
  position:absolute;
  top:2em; /* (line-height/2) */
  left:0;
}

.tree li:last-child:before {
  background:rgb(32, 32, 35); /* same with body background */
  height:auto;
  top:2em; /* (line-height/2) */
  bottom:0px;
}