.threadmill {
    position: relative;
    padding-top: 3%;
}

.container {
    position: relative;
    /* Maintain a 16:9 aspect ratio (height:width ratio) */
    padding-bottom: 7%;
    /* background-color: aqua; */
    width: 80%;
}

canvas {
    position: absolute;
    top: 100%;
    left: 0;
    width: 60%;
    height: 100%;
}

.zombie {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 100%;
    /* height: 100%; */
}

.dog {
    position: absolute;
    top: 90%;
    left: 28%;
    width: 100%;
    /* height: 100%; */
}


.dog img {
    width: 5%;
    height: 10%;
    /* object-fit: cover; */
    border-radius: 5%;
}

.zombie img {
    width: 10%;
    height: 15%;
    /* object-fit: cover; */
    border-radius: 5%;
}



/* Responsive font size for different screen sizes */
/* Mobile and So On */
@media (max-width: 768px) {
    .container{
        width: 120%;
    }
    canvas{
        height: 90px;
    }
    .threadmill{
        height: 100px;
    }
    .dog {
        position: absolute;
        top: 130%;
        left: 28%;
        width: 100%;
        /* height: 100%; */
    }
}
/* Bigger Screens like tables */
@media (min-width: 769px) and (max-width: 1024px) {

}
/* Bigger Screens like monitors or larger computers meh */
@media (min-width: 1025px) {

}