.container{
    display: block;
    height: 0px;
    width: 90%;
    position: relative;
    background-color: aqua;
    padding-top: 0px;
}
canvas {
    position: relative;
    width: 80%;
    top: -75px;
    padding-left: 20.5%;
    padding-top: -200px;
    align-content: center;
  }




